__pycache__
wandb
.venv/*
.venv
nohup.out
*.log
models/*
PNG/*
.DS_Store
*/.DS_Store
*-info
.python-version
grin/
test.sh
client_secret_754119345023-95d98c1blpj9cpucnd7s62ioaum31s9v.apps.googleusercontent.com.json
logs/
model.onnx
ViT_torchviz
ViT_torchviz.png
lightning_logs/

*.csv
# fixed-core runs
data_cache/
results/
.pytest_cache/
